@font-face {
  font-family: "courgette";
  src: url("../Courgette-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

:root {
  --text-color: #444;
  --dark-blue: #003884;
  --medium-blue: #4f89b9;
  --quote-bg-color: #d7e1ef;

  --fs-default: 1.125rem; /* 18px */
  --fs-h1: 2.5rem; /* 40px */
  --fs-h2: 2.188rem; /* 35px */
  --fs-h3: 1.563rem; /* 25px */
  --fs-menu: 1.25rem; /* 20px */
  --fs-quote: 1.563rem; /* 25px */
  --size-social-icons: 1.875rem; /* 30px */
  --fs-copyright: 0.875rem; /* 14px */
}

/****************************************************
LAYOUT
*****************************************************/
header,
main,
footer {
  width: 980px;
  margin: 0 auto;
}

/****************************************************
DEFAULT RULES
*****************************************************/
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--font-size-default);
  line-height: 1.5;
  color: var(--text-color);
}

/****************************************************
STYLES
*****************************************************/

menu {
  list-style: none;
  font-size: var(--fs-menu);
}

menu a {
  text-decoration: none;
  color: var(--dark-blue);
}

h1,
h2,
h3,
menu,
blockquote {
  font-family: "courgette";
}

h1,
h2,
h3,
blockquote,
footer {
  text-align: center;
}

h1,
menu,
blockquote,
h3 {
  color: var(--dark-blue);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  color: var(--medium-blue);
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

blockquote p {
  font-size: var(--fs-quote);
}

menu,
blockquote p {
  font-weight: 600;
}

blockquote {
  background-color: var(--quote-bg-color);
}

header > img {
  display: block;
  margin-inline: auto;
}

main p {
  margin-bottom: 2rem;
}

.fat-blue {
  color: var(--dark-blue);
  font-weight: 600;
}

.thin-blue {
  color: var(--medium-blue);
  font-style: italic;
}

.float-right {
  float: right;
  margin-left: 1rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
}

footer::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid var(--dark-blue);
}

footer i {
  width: var(--size-social-icons);
}

.copyright {
  font-size: var(--fs-copyright);
}
